# Dependencies
node_modules/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# AI Artifacts
.gemini/
